body {
	background-color: #e2e2e2;
}

.feather-16{
    width: 16px;
    height: 16px;
}

.feather-24{
    width: 24px;
    height: 24px;
}

.feather-20{
    width: 20px;
    height: 20px;
}

/* Style listado.html */

.titleListaVisitas {
	position:absolute;
	z-index:12;
	min-width:100%;
	transform: translateY(-50%);
	top: 50%;
}

.titleListaVisitas .title {
	font-size:7vw;
	font-weight: bold;
	color: white;
	text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.titleListaVisitas .titleCaption {
	font-size:3vw;
	font-weight: bold;
	color: white;
	text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.cardsCol a, .cardsCol a:hover, .cardsCol a:focus, .cardsCol a:active { 
	text-decoration: none;
	color: inherit;
}

.cardsCol .card:hover {
	transform: scale(1.03);
}

/* Style login.html */

#loginForm input {
	width: 100%;
}