<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="Visitas Granada">
    <meta name="author" content="Carlos Enriquez Lopez">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
    <title>Visitas Granada</title>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <a class="navbar-brand" href="#">
                <img src="/media/fotos/default.png" width="30" height="30" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown active">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
              </ul>
              <ul class="navbar-nav ml-md-auto">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#">Register</a>
                </li>

                <li class="nav-item dropdown mr-4 ml-4">
                    <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Language
                    </a>
                    <div class="dropdown-menu dropdown-menu-md-right" aria-labelledby="bd-versions">
                      <a class="dropdown-item active" href="/docs/4.4/">Latest (4.4.x)</a>
                      <a class="dropdown-item" href="https://getbootstrap.com/docs/4.3/">v4.3.1</a>
                      <a class="dropdown-item" href="https://getbootstrap.com/docs/4.2/">v4.2.1</a>
                      <a class="dropdown-item" href="https://getbootstrap.com/docs/4.0/">v4.0.0</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="https://v4-alpha.getbootstrap.com/">v4 Alpha 6</a>
                      <a class="dropdown-item" href="https://getbootstrap.com/docs/3.4/">v3.4.1</a>
                      <a class="dropdown-item" href="https://getbootstrap.com/docs/3.3/">v3.3.7</a>
                      <a class="dropdown-item" href="https://getbootstrap.com/2.3.2/">v2.3.2</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/docs/versions/">All versions</a>
                    </div>
                  </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-dark bg-dark text-light my-2 my-sm-0" type="submit"><b>Buscar</b></button>
              </form>
            </div>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

</body>
</html>