{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container-fluid mt-2 mt-sm-5">
    <div class="row px-4">
        <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3">
            <img src="{{ visita.foto.url }}" class="w-100" alt="...">
            <p class="h5 text-center mt-3"><b id="likes-value-holder">{{visita.likes}}</b> Me gusta <i class="feather-24"
                    data-feather="heart"></i></p>
            <p class="text-center"><span id="like-btn"><i class="feather-24 scale-on-hover" data-feather="thumbs-up"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;<span id="dislike-btn"><i class="feather-24 scale-on-hover" data-feather="thumbs-down"></i></span></p>
        </div>
        <div class="col-xs-6 col-sm-7 col-md-8 col-lg-6  mt-3 mt-sm-0">
            <h3 class="mb-3 text-center text-sm-left" style="font-weight: bold;">{{ visita.nombre }}</h3>
            <p>{{ visita.descripcion }}</p>
        </div>
        <div class="map col-lg-3  mt-3 mt-sm-0" id="map" class="map" lat="{{ visita.lat }}" lon="{{ visita.lon }}"></div>
    </div>

    {% if messages %}
    <div class="row">
        <div class="col mx-4 mt-3">
            {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <i class="feather-16" data-feather="alert-circle"></i> {{ message }}.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="feather-16" data-feather="check-circle"></i> {{ message }}.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <i class="feather-16" data-feather="alert-triangle"></i> {{ message }}.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="feather-16" data-feather="x-octagon"></i> {{ message }}.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if request.user.is_staff %}
    <div class="row">
        <div class="col pt-3 pb-4">
            <form id="editVisitaForm" class="mx-4" action="{% url 'detalle' visita.id %}" method="post"
                enctype="multipart/form-data">
                <h2 class="h3 mb-3 font-weight-normal">Edite el contenido de la visita.</h2>

                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
                {% endfor %}
                <button class="btn btn-lg btn-primary btn-block mt-4" style="max-width: 400px;" type="submit"><i
                        class="feather-20" data-feather="save"></i> Confirmar</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col py-4 mx-4">
            <h2 class="h3 mb-3 font-weight-normal">Eliminar completamente la visita.</h2>
            <button class="delVisitaButton btn btn-lg btn-danger btn-block" data-id="{{ visita.id }}"
                style="max-width: 400px;"><i class="feather-20" data-feather="trash-2"></i> Eliminar</button>
        </div>
    </div>
    {% endif %}

    <div class="row mt-3">
        <div class="col">
            <hr>
        </div>
        <div class="col-auto">
            <h4>Comentarios:</h4>
        </div>
        <div class="col">
            <hr>
        </div>
    </div>

    <div class="row p-4">
        <div class="col-12">
            {% if visita.comentarios.all %}
                {% for comentario in visita.comentarios.all %}
                <p>{{comentario.texto}}</p>
                <div>
                    <hr>
                </div>
                {% endfor %}
            {% else %}
                <b>No hay comentarios para esta visita.</b>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}